dash=2.15.0=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
ffmpeg=4.3=hf484d3e_0
filelock=3.13.1=pypi_0
filterpy=1.4.5=pypi_0
flask=3.0.2=pypi_0
flask-caching=2.1.0=pypi_0
fvcore=0.1.5.post20221221=pyhd8ed1ab_0
jupyterlab=4.2.1=pypi_0
matplotlib=3.7.0=pypi_0
pymap3d=3.0.1=pypi_0
pytorch=1.13.0=py3.10_cuda11.7_cudnn8.5.0_0
pytorch3d=0.7.5=py310_cu117_pyt1130
randimage=1.2=pypi_0
requests=2.31.0=py310h06a4308_0
scikit-learn=1.4.1.post1=pypi_0
seaborn=0.13.2=pypi_0
sentence-transformers=2.7.0=pypi_0
setuptools=68.2.2=pyhd8ed1ab_0
tensorboard=2.16.2=pypi_0
tensorboard-data-server=0.7.2=pypi_0
termcolor=2.3.0=pyhd8ed1ab_0
terminado=0.18.1=pypi_0
threadpoolctl=3.2.0=pypi_0
tk=8.6.13=noxft_h4845f30_101
torchvision=0.14.0=py310_cu117
tqdm=4.66.1=pyhd8ed1ab_0
wheel=0.42.0=pyhd8ed1ab_0
yaml=0.2.5=h7f98852_2

